<template name="estudios">
    <!-- contenido -->
    <div id="contenido" class="ui grid">
        {{> cabecera}}
        <!-- menú busqueda -->
        <div class="ui one item text menu wide filtros stackable computer tablet only row">
            <div class="item">
                <div class="ui multiple selection dropdown">
                    <input name="sexo" value="" type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Por sexo</div>
                    <div class="menu">
                        {{#each listaSexo}}
                        <div class="item" data-value="{{ @index }}">{{ this }}</div>
                        {{/each}}
                    </div>
                </div>            
                <div class="ui selection dropdown">
                    <input name="tipo" type="hidden">
                    <div class="default text">Por  tipo</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        {{#each lista}}
                           <div class="item" data-value="{{ @index }}">{{ this }}</div>
                        {{/each}}
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="ui button">
                Limpiar filtros
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" placeholder="Bùsqueda manual..." type="text">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
        <div class="ui horizontal divider"></div>
        <!-- lista dummie -->
        <div  class=" ui eight wide centered column">
            <div class="ui divided link items">
                <!-- item -->
                {{#each estudios }}
                <div class="item">
                    <div class="ui tiny image">
                        <img src="images/500x500.png">
                    </div>
                    <div class="content">  
                        <div class="header">
                        <a href="/estudio">{{titulo }}</a>
                        </div>
                        <div class="description">
                            <p>{{ descripcion }}</p>
                        </div>
                        <div class="ui right floated">
                            {{#if esPromo}}<i class="like icon"></i>{{/if}}
       	                </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{> footer}}
    </div>
</template>