<template name="clinica">
    <!-- contenido -->
        <div id="contenido" class="ui grid">
            {{> cabecera}}
            <div class="ui horizontal divider"></div>
            <div id="contenidoBloque" class="ui sixteen wide column">
                <div class="ui two column grid mn stackable">
                    <!--columna izquierda -->
                    <div class="ten wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">
                                    Nombre del a Clínica
                                </div>
                            </div>
                            <div class="extra content">
                                <h4 class="ui header">
                                    Servicios de la clínica
                                </h4>
                                <p></p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate elementum magna quis mollis. Suspendisse vel elementum mi. Etiam condimentum imperdiet quam. Duis sem ligula, vehicula quis volutpat ut, tincidunt ut eros. Vestibulum condimentum mi non cursus dictum. Vestibulum ut metus nec libero rutrum pellentesque. Fusce sit amet efficitur enim.
                            </div>
                        </div>
                    </div>
                    <!-- columna derecha -->
                    <div class="six wide column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">
                                    Datos útiles
                                </div>
                            </div>
                            <div class="extra content">
                                <h4 class="ui header">
                                    <i class="ui marker icon"></i>
                                    Mapa
                                </h4>
                            </div>
                            <div class="extra content">
                                <h4 class="ui header">
                                    <i class="ui wait icon"></i>
                                    Horarios
                                </h4>
                            </div>
                            <div class="extra content">
                                <h4 class="ui header">
                                    <i class="ui doctor icon"></i>
                                    Contacto
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}
        </div>
</template>
