<!-- filtros de la seccion estudios -->
<template name="filtrosEstudios">
  <!-- menú busqueda -->
  <div class="ui one item text menu wide filtros stackable row">
    <div class="item">
      <!-- boton promocion -->
      <div class="ui csexo selection dropdown">
        <!-- input tipo sexo -->
        <input name="sexoLista" type="hidden">
        <div class="default text">Sexo indistinto</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each tipoSexo}}
          <div class="item" data-value="{{ id }}">{{ texto }}</div>
          {{/each}}
        </div>
      </div>
      <div class="ui cestudio selection dropdown">
        <!-- input por estudio -->
        <input name="tipo" type="hidden">
        <div class="default text">Por tipo</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each tipoEstudio}}
          <div class="item" data-value="{{ id }}">{{ texto }}</div>
          {{/each}}
        </div>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="ui btPromo toggle button">
        Promoción
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="ui limpiar button ">
        Limpiar filtros
      </div>
    </div>
  </div>
</template>