<template name="footer">
    <!-- footer -->
    <div class="ui horizontal divider"></div>
    <div id="footer" class="grey sixteen wide column">
        <div class="ui three column grid">
            <div class="column">
                <div class="ui list">
                    <div class="item">Inicio</div>
                    <div class="item">Estudios Clínicos</div>
                    <div class="item">Clínicas</div>
                    <div class="item">Avisos</div>
                </div>
            </div>
            <div class="column">
                <div class="ui list">
                    <div class="item">Contacto</div>
                    <div class="item">Dirección 1</div>
                    <div class="item">Dirección 2</div>
                    <div class="item">teléfono</div>
                </div>
            </div>
            <div class="column">
                formulario
            </div>
        </div>
            <div class="ui horizontal divider"></div>
    </div>
</template>