

<template name="panelControlPpalEstudios">
    <!-- menú busqueda -->
    {{> filtrosEstudios }}
    <!-- contenido -->
    <div class="contenidoBloquePC ui sixteen wide column">
      <div class="ui {{#if pantallaInicio}}two{{else}}three{{/if}} column grid stackable">
        {{> listaPC }} 
        {{#if pantallaInicio}} 
          {{> vacio }} 
        {{else}}
          {{> detallesPC }} 
        {{/if}}
      </div>
    </div>
</template>

<template name="listaPC">
  <!-- lista dummie -->
  <div class="four wide column">
    <h4>Estudios publicados</h4>
    <div class="ui  divider"></div>
    <!-- lista dummie -->
    <div class="ui divided link items" id="contenidoFormPC">
      <!-- loop items en Estudios -->
      {{#each estudios }}
      <div class="item">
        <div class="content">
          <a class="ui selPC" data-value="{{ titulo }}"> {{ titulo }} </a>
          <div class="description">
            <p>{{ descripcion }}</p>
          </div>
          <div class="ui right floated">
            {{#if esPromo}}<i class="like icon"></i>{{/if}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>

<template name="detallesPC">
  <!-- formularios de edición -->
  <div class="seven wide column">
    <h4>Datos generales</h4>
    <div class="ui  divider"></div>
    <div class="ui small form">
      <div class="field">
        <label>Nombre del estudio</label>
        <input name="first-name" placeholder="{{ estudios.titulo }}" type="text">
      </div>
      <div class="field">
        <label>Información</label>
        <textarea rows="4" placeholder="{{ estudios.descripcion }}"></textarea>
      </div>
      <div class="field">
        <label>Requisitos</label>
        <textarea rows="4" placeholder="{{ estudios.requisitos }}"></textarea>
      </div>
      <h4 class="ui dividing header">Fecha de valided</h4>
      <div class=" two fields">
        <div class=" field">
          <label>Fecha inicio</label>
          <input type="date" name="validoDesde" placeholder="dd/mm/yyyy">
        </div>
        <div class=" field">
          <label>Fecha fin</label>
          <input type="date" name="validoDesde" placeholder="dd/mm/yyyy">
        </div>
      </div>
    </div>
  </div>
  <!-- Columna precios y filtros -->
  <div class="five wide column">
    <h4>Precio y filtros</h4>
    <div class="ui  divider"></div>
    <div class="ui small form">
      <div class="fPrecio field">
        <label>Precio</label>
        <input type="number" name="first-name" placeholder="{{ estudios.precio }}">
      </div>
      <!-- sección promocion -->
      <div class="ui segment" style="padding:10px">
        <div class="ui small form">
          <div class="ui sliderPromo slider checkbox">
            <input type="checkbox" checked="{{#if estudios.esPromo}}checked{{/if}}">
            <label>Estudio en promoción</label>
          </div>
          <div class="ui divider"></div>
          <div class="{{#unless estudios.esPromo}}disabled{{/unless}} field ">
            <label>Precio en promoción</label>
            <input type="number" name="validoDesde" placeholder="añadir precio en DB">
          </div>
          <div class="{{#unless estudios.esPromo}}disabled{{/unless}} field ">
            <label>Fecha fin de promoción</label>
            <input type="date" name="validoDesde" placeholder="dd/mm/yyyy">
          </div>
        </div>
      </div>
      {{> botonesOpciones }}
    </div>
     
  </div>
 
</template>

<template name="botonesOpciones">
 <div class="two ui buttons">
    <div class="ui basic red left attached button">Eliminar</div>
    <div class="ui basic green right attached button">Guardar</div>
  </div>
</template>