<template name="panelControlPpalEstudios">
  <!-- menú busqueda -->
  {{> filtrosEstudios }}
  <!-- contenido -->
  <div class="contenidoBloquePC ui sixteen wide column">
    <form id="formularioEstudios" class="ui form fluid">
      <div class="ui {{#if pantallaInicio}}two{{else}}three{{/if}} column grid stackable">
        {{> listaPC }}
        {{#if pantallaInicio}} 
            {{> vacio }} 
          {{else}} 
            {{> detallesPC }} 
            {{> botonesOpciones }}
        {{/if}}
      </div>
    </form>
  </div>
</template>

<template name="listaPC">
  <!-- lista dummie -->
  <div class="four wide column">
    <h4>Estudios publicados</h4>
    <div class="ui  divider"></div>
    <!-- lista dummie -->
    <div class="ui divided link items" id="contenidoFormPC">
      <!-- loop items en Estudios -->
      {{#each estudios }}
      <div class="item">
        <div class="content">
          <a class="ui selPC" data-value="{{titulo}}">{{titulo}}</a>
          <div class="description">
            <p>{{ descripcion }}</p>
          </div>
          <div class="ui right floated">
            {{#if esPromo}}<i class="like icon"></i>{{/if}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>

<template name="detallesPC">
  <!-- formularios de edición -->
  <div class="seven wide column">
    <h4>Datos generales</h4>
    <div class="ui  divider"></div>
    <div class="required field">
      <label>Nombre del estudio</label>
      <input  name="titulo" placeholder="{{ estudios.titulo }}" type="text">
    </div>
    <div class="field">
      <label>Información</label>
      <textarea  name="descripcion" rows="4" placeholder="{{ estudios.descripcion }}"></textarea>
    </div>
    <div class="field">
      <label>Requisitos</label>
      <textarea name="requisitos" rows="4" placeholder="{{ estudios.requisitos }}"></textarea>
    </div>
  </div>
  <!-- Columna precios y filtros -->
  <div class="five wide column">
   <h4>Filtros</h4>
{{> listaSexo }}
            <div class="ui cestudio selection dropdown">
        <!-- input por estudio -->
        <input name="tipo" type="hidden">
        <div class="default text">{{estudios.tipo}}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each tipoEstudio}}
          <div class="item" data-value="{{ id }}">{{ texto }}</div>
          {{/each}}
        </div>
      </div>
    <h4>Precio</h4>
    <div class="ui  divider"></div>
    <div class="{{#if selPromo}}disabled{{/if}} field">
      <label>Precio</label>
      <input type="text" name="precio" placeholder="{{ estudios.precio }}">
    </div>
    <!-- sección promocion -->
    <div class="ui segment" style="padding:10px">
       {{selPromo}}
      <div class="ui small form">
        <div class=" sliderPromo  checkbox">
          <input name="esPromoCheck" type="checkbox" checked="{{#if selPromo}}checked{{/if}}">
          <label>Estudio en promoción</label>
        </div>
        <div class="ui divider"></div>
        <div class="{{#unless selPromo}}disabled{{/unless}} field ">
          <label>Precio en promoción</label>
          <input type="text" name="precioPromo" placeholder="añadir precio en DB">
        </div>
      </div>
    </div>    
  </div>
</template>

<template name="botonesOpciones">
  <div id="botonesSubmit" class=" three ui buttons">
    <div class="ui left clear  button">cancelar cambios</div>
    <div class="ui red center attached button">Eliminar</div>
    <div class="ui green right attached button submit btnGuardar">Guardar</div>
  </div>
</template>


<template name="listaSexo" >
        <div class="ui csexo selection dropdown">
        <!-- input tipo sexo -->
        <input name="sexoLista" type="hidden" fireOnInit="true">
        <div class="default text">{{selSexo}}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each tipoSexo}}
          <div class="item" data-value="{{ id }}">{{ texto }}</div>
          {{/each}}
        </div>
      </div>
</template>