<template name="panelControlPpal">
    {{>cabeceraPC }}
    <div class=" ui grid">   
        {{> panelControlPpalEstudios }}
    </div>
    {{> footerPC }}
</template>

<template name="vacio">
    <div class="twelve wide column middle aligned">
        <div class="ui cardVacio card centered ">
             <img class="ui image" src="images/500x500.png"> 
            <div class="content">               
                <div class="description">
                    Selecciona un item ó crea uno nuevo.
                </div>
            </div>
        </div>
    </div>
</template>


